
{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partial/simple_search.html' %}
        {% for ad in ads %}
            < <div class="col-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            {% if ad.photo %}
                            <img src="{{ ad.photo.url }}" class="img-fluid rounded-start w-75">
                            {% endif %}
                            <h5 class="card-title">{{ ad.title }} </h5>
                             <a href="{% url 'accounts:detail' request.user.pk %} ">Author: {{ ad.author }}</a>
                            <p class="card-text">Цена: {{ ad.price }}</p>
                            <a href="{{ ad.get_absolute_url }}" class="btn btn-primary">Подробнее...</a>
                            <button id="button" class="btn btn-success" data-index-link="{% url 'webapp:yes' ad.pk %}">Одобрить</button>
                            <button id="button" class="btn btn-danger" data-index-link="{% url 'webapp:no' ad.pk %}">Отклонить</button>
                        </div>
                    </div>
                </div>

        {% endfor %}
     {% if is_paginated %}
            {% include 'partial/pagination.html' %}
    {% endif %}


{% endblock %}



