{% extends "base.html" %}

{% block nav %}

{#    {% if request.user.is_authenticated %}#}
{##}
{#        {% if perms.webapp.change_ad or ad.author == request.user %}#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'webapp:ad_update' ad.pk %}">Update</a>#}
{#            </li>#}
{#        {% endif %}#}
{#        {% if perms.webapp.delete_ad  or ad.author == request.user %}#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'webapp:ad_delete' ad.pk %}">Delete</a>#}
{#            </li>#}
{#        {% endif %}#}
{#        #}
{#    {% endif %}#}

{% endblock %}
   {% block content %}
        <div class="row row-cols-3 row-cols-md-2 g-4 container my-2">
          <div class="col">
            <div class="card">
                {% if ad.photo %}
              <img src="{{ ads.photo.url }}" class="card-img-top" alt="...">
                {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ ads.text }}</h5>
                <p class="card-text">{{ ads.author }}</p>
            <div class="card-footer">
              <small class="text-muted">{{ ads.created_at }}</small>
            </div>

              </div>
            </div>
          </div>
        </div>


          <h3 class="ms-3">Comments:</h3>
    <div class="row">
        {% for comment in comments %}

            <div class="col-sm-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-title">{{ comment.author }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>

                        <div class="d-flex justify-content-around">
                            {% if perms.webapp.delete_comment or comment.author == request.user %}
                                <a href="{% url 'webapp:comment_delete' comment.pk %}"
                                   class="btn btn-danger px-5">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                <div class="card-footer">{{ comment.created_at }}</div>
                </div>
            </div>
        {% empty %}
            <p>Комментариев нет</p>
        {% endfor %}
    </div>
{% endblock %}

